<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StreamMotion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA6CC5B22D7C4789008A21DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA6CC5C32D7C478A008A21DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA6CC5CD2D7C478A008A21DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
